<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Cập Nhật Thông Tin Nhân Viên</h3>
              </div>

              
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cập Nhật Nhân Viên</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <div class="col-md-9 col-sm-9 col-xs-12"> 
                    <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <form action="/admin/listnhanvien/update/success" method="POST" class="form-horizontal form-label-left" novalidate>
                    
                   
                     
                      <span class="section">Cập Nhật Nhân Viên</span>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Nhân Viên <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12"  value="{{CurrentNhanVien.MaNhanVien}}"  name="manhanvien"  required type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên Nhân Viên <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.TenNhanVien}}" data-validate-words="2" name="name"  required type="text">
                        </div>
                      </div>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Giới Tính <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.GioiTinhNV}}" data-validate-words="2" name="gioitinh"  required type="text">
                        </div>
                      </div>
                      


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Địa Chỉ <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.DiaChiNV}}" data-validate-words="2" name="diachi"  required type="text">
                        </div>
                      </div>
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">CMND <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.SoCMNDNV}}" data-validate-words="2" name="cmnd"  required type="text">
                        </div>
                      </div>
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Điện Thoại <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.DienthoaiNV}}" data-validate-words="2" name="dienthoai"  required type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Ngày Sinh <span class="required" style="color:red">*</span>
                        </label>
                     
                          <fieldset>
                          <div class="control-group">
                            <div class="controls">
                              <div class="col-md-5 xdisplay_inputx form-group has-feedback">
                                <input type="text" class="form-control has-feedback-left" id="single_cal1" name="ngaysinh" value={{CurrentNhanVien.NgaySinhNV}} aria-describedby="inputSuccess2Status">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      
                      </div>


                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên Đăng Nhập <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.TenDangNhapNV}}" data-validate-words="2" name="tdn"  required type="text">
                        </div>
                      </div>

                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mật Khẩu <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.MatKhauNV}}" data-validate-words="2" name="mk"  required type="text">
                        </div>
                      </div>
        


                      <div class="item form-group">
                        
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại Nhân Viên <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <select name="Category"   required class="select2_single form-control" tabindex="-1">

                            
                            {{#setSelectedcategory SelectedValue}}
                             

                           {{/setSelectedcategory}}
                    
                          </select>
                        </div>
                    
                      </div>


                     
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Bằng Lái 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentNhanVien.BangLai}}" data-validate-words="2" name="banglai"  required type="text">
                        </div>
                      </div>

                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Khả Năng Lái Đường Dài 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" value="{{CurrentNhanVien.KhaNangLaiDuongDai}}" id="number" name="khanang" required data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      
                     
                     
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Lương <span class="required" style="color:red" >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" value="{{CurrentNhanVien.Luong}}" id="number" name="luong" required data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                       
                     
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                         
                          <button id="send" type="submit" class="btn btn-success">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>