<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Cập Nhật Thông Tin Tài Khoản Khách Hàng</h3>
              </div>

              
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cập Nhật Tài Khoản</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     
                    <div class="col-md-9 col-sm-9 col-xs-12"> 
                    <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <form action="/admin/listtaikhoan/update/submit" method="POST" class="form-horizontal form-label-left" novalidate>
                    
                   
                     
                      <span class="section">Cập Nhật Tài Khoản Khách Hàng</span>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Tài Khoản
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12"  value="{{CurrentTaiKhoan.MaTaiKhoan}}"  name="mataikhoan"  required type="text">
                        </div>
                      </div>

                    
                      


                      
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Điểm Tích Lũy 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentTaiKhoan.DiemTichLuy}}" data-validate-words="2" name="diemtichluy"  required type="text">
                        </div>
                      </div>
                        <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Số Tiền 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentTaiKhoan.DiemTichLuy}}" data-validate-words="2" name="sotien"  required type="text">
                        </div>
                      </div>

                      


                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên Đăng Nhập
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentTaiKhoan.TenDangNhap}}" data-validate-words="2" name="tdn"  required type="text">
                        </div>
                      </div>

                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mật Khẩu
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentTaiKhoan.MatKhau}}" data-validate-words="2" name="mk"  required type="text">
                        </div>
                      </div>
        


                      <div class="item form-group">
                        
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại Tài Khoản <span class="required" style="color:red">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <select name="Category"   required class="select2_single form-control" tabindex="-1">

                            
                            {{#selectedLoaiTaiKhoan SelectedValue}}
                             

                           {{/selectedLoaiTaiKhoan}}
                    
                          </select>
                        </div>
                    
                      </div>


                     
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Mã Khách Hàng
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" readonly class="form-control col-md-7 col-xs-12" data-validate-length-range="6" value="{{CurrentTaiKhoan.MaKhachHang}}" data-validate-words="2" name="makhachhang"  required type="text">
                        </div>
                      </div>

                     
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                         
                          <button id="send" type="submit" class="btn btn-success">Update</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>